.all {
    display: flex;
    justify-content: center;
}

.wrapper {
    border: 3px solid green;
    margin-top: 50px;
    width: 200px;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 30px;
    background-color: beige;

}